@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald&display=swap');


:root {
    --primary-color: #325d7d;
    --secondar-color: #f6c94a;
    --accent1-color: #ff7f11;
    --accent2-color: #d1d5db;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Lora', serif;


    --nav-background-color: #d1d5db;
    --nav-link-color: #ff7f11;
    --nav-hover-link-color: #d1d5db;
    --nav--hover-bckground-color: #f6c94a;

}


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.sociallinks {
    text-decoration: none;
}

.sociallinks a img {
    max-width: 20px;
    margin-left: 15px;
    padding: 4px;
    margin: 1rem; 
}

.sociallinks p {
    text-align: center;
    margin-right: 10px;
}

.Ing img {
    max-width: 300px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


    


nav{
    text-decoration: none;
   
    
   
}
.grid {
   display: grid;
   grid-template-columns: 1fr 2fr; /* Define grid columns: 1fr for aside, 2fr for main */
   gap: 20px;
}
header, nav{
    
    display: flex;
    grid-template-columns: repeat(1, 2fr);
    gap: 150px;
    background-color: #325d7d;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    
   
}
nav a {
    color: #ffffff;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s ease;
    border: 1px #ffffff;
}



h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 98.5%;
    display: block;
    padding: 8px;
}



article{
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: var(--accent1-color);
    width: 70%;

}

article img {
    max-width: 200px;
    float: right;
    margin-top: 40px;
    margin-left: 20px;
}

section img{
    size: 60px;
    width: 200px;
    border:1px;
    height: 40px;
}
.sociallinks{
    padding: 0.5rem;
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s ease;
    top: 50%; 
}